@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.parent-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    color: var(--very-light-gray);
    width: 60%;
}

.sedans {
    background-color: var(--bright-orange);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.suvs {
    background-color: var(--dark-cyan);
}

.luxury {
    background-color: var(--very-dark-cyan);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    padding-bottom: 20px;
    text-transform: uppercase;
}

p {
    font-family: 'Outfit', sans-serif;
    color: var(--transparent-white);
    padding-bottom: 60px;
    font-weight: 400;
}

.card {
    padding: 60px 30px;
}

a {
    padding: 10px 20px;
    border-radius: 20px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid var(--very-light-gray);
    background-color: var(--very-light-gray);
}

.sedans a {
    color: var(--bright-orange);
}

.suvs a {
    color: var(--dark-cyan);
}

.luxury a {
    color: var(--dark-cyan);
}

img {
    padding-bottom: 20px;
}

a:hover {
    color: var(--transparent-white);
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 375px) {
    .container {
        flex-direction: column;
        width: 80%;
    }

    .parent-container {
        height: auto;
        margin: 50px 0px;
    }

    .sedans {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 5px;
    }

    .luxury {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
    }
}
